In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('laptops3.csv')
X = dataset.iloc[:,:-1:].values
Y = dataset.iloc[:,-1].values
dataset.head()

,Company,Inches,Cpu,Ram(in GB),Memory(in GB),Gpu,OpSys,Weight,Price_euros
0,Apple,13.3,Intel Core i5 2.3GHz,8,128,Intel Iris Plus Graphics 640,macOS,1.37,1339.69
1,Apple,13.3,Intel Core i5 1.8GHz,8,128,Intel HD Graphics 6000,macOS,1.34,898.94
2,HP,15.6,Intel Core i5 7200U 2.5GHz,8,256,Intel HD Graphics 620,No OS,1.86,575.00
3,Apple,15.4,Intel Core i7 2.7GHz,16,512,AMD Radeon Pro 455,macOS,1.83,2537.45
4,Apple,13.3,Intel Core i5 3.1GHz,8,256,Intel Iris Plus Graphics 650,macOS,1.37,1803.60

In [3]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder = LabelEncoder()
X[:, 0] = labelencoder.fit_transform(X[:, 0])
X[:, 2] = labelencoder.fit_transform(X[:, 2])
X[:, 5] = labelencoder.fit_transform(X[:, 5])
X[:, 6] = labelencoder.fit_transform(X[:, 6])
#X = X.reshape((len(X), 8))
#onehotencoder = OneHotEncoder(categorical_features = [0,2,5,6])
#X = onehotencoder.fit_transform(X).toarray()
#print(X)

In [4]:
pd.DataFrame(X).head()

   0     1   2   3    4   5  6     7
0  1  13.3  65   8  128  58  8  1.37
1  1  13.3  63   8  128  51  8  1.34
2  7  15.6  74   8  256  53  4  1.86
3  1  15.4  85  16  512   9  8  1.83
4  1  13.3  67   8  256  59  8  1.37

In [5]:
#train_test split
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.1, random_state = 0)

In [6]:
from sklearn.ensemble import RandomForestRegressor 
# create regressor object 
regressor = RandomForestRegressor(n_estimators = 20, random_state = 0) 
regressor.fit(X_train, Y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=20,
                      n_jobs=None, oob_score=False, random_state=0, verbose=0,
                      warm_start=False)

In [7]:
Y_pred = regressor.predict(X_test)

In [8]:
regressor.score(X_test, Y_test)

0.8306343975085122

In [9]:
import xgboost as xgb
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 100)
xg_reg.fit(X_train,Y_train)

preds = xg_reg.predict(X_test)

[01:22:23] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [10]:
xg_reg.score(X_test, Y_test)

0.8720973407554748

In [11]:
from sklearn.tree import DecisionTreeRegressor as DTR
reg3 = DTR(random_state = 0)
reg3.fit(X_train, Y_train)
pred3 = reg3.predict(X_test)
reg3.score(X_test, Y_test)

0.6430355855427381